*{box-sizing: border-box;
padding: 0;margin: 0;}

:root{
    --primary-color:#0084fd;
    --third-color:#535353;
    --secondary-color:#9792e4;

    
}

.bg-color1{background-color: var(--primary-color);}
.bg-color2{background-color: var(--secondary-color);}
.bg-color3{background-color: var(--third-color);}

.padd1{padding: 1rem;}
.padd2{padding: 2rem;}
.padd3{padding: 3rem;}
.margb1{margin-bottom: 1rem;}
.margb2{margin-bottom: 2rem;}
.autoM{margin: auto;}
/* .paddx1y2{padding: 1.5rem,1rem;} */
button{border-radius: 20px;background-color: white;padding: 0.5rem}
.row{display: flex;flex-wrap: wrap;}
.allign{justify-items: center;}
.column{flex-direction: column;}
.card{border-radius: 20px;border: 1px solid red;}
.bkgn{width: 100vw;}
.provvheight{min-height: 6rem;border: 1px solid red;}
.centertxt{text-align: center;}
.lefttxt{text-align: left;}
.app-development{background-color: white;border: none;}
.borderimg>*{display: block;object-fit: cover;border-radius: 60%;width: 100%;}
.borderimg{border-radius: 50%;width:100%;padding: 5rem;}
.containerbig.centertxt.padd1 .card.margb1{background-color: var(--secondary-color);border: none;}
.row.column.cardcontainer.T-onetwo.D-onethird.margb2>*{background-color: white;border: none;}
.row.column.cardcontainer.T-onetwo.D-onethird.margb2 .card button{border: none; background-color: var(--secondary-color);color: white;}



/* grandezze */
.onefour{flex-basis: calc(100%/4);}
.onetwo{flex-basis: calc(50%);}
.onethird{flex-basis: calc(100%/3);}






.row.allign.padd1 i{font-size: 2rem;margin-left: auto;color: white;}
.cardcontainer>*{flex-basis: 100%;}
.cardcontainer{gap: 1rem;}
.cardcontainer .card.padd1>*{text-align: center;}
.lefttxt{display: flex;flex-direction: column;gap: 0.5rem;justify-content: flex-start;}
.containerbig.bg-color2 .row.column>*{flex-basis: 100%;}
.card.row.column.allign.padd1.big-card{gap: 1rem;}
.card.row.column.allign.padd1.big-card>img{display: block;object-fit: cover;height: 37rem;}
.row.cardcontainer.padd1.margb2>*{background-color: #b5ddff ;border: none;}
.card.padd1{text-align: center;}
.card.padd1 i{font-size: 6rem;}
.row.column.D-no-column img{display: block;object-fit: cover;width: 80%;}